# Environnement virtuel
.env/
.venv/
venv/

# Variables sensibles
.env

# Base de données de test
test.db

# Cache Python
__pycache__/
*.pyc
*.pyo

# Cache pytest
.pytest_cache/

# VS Code
.vscode/

# Docker
*.log

# Celery stuff
celerybeat-schedule
celerybeat.pid

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Local History for Visual Studio Code
.history/
.history

# Docs
PHASE_2_IMPLEMENTATION.md